# Base URL của API Backend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api # https://api.example.com

# Server configuration
PORT=3000

# Environment của ứng dụng (development, staging, production)
NODE_ENV=development

# Debug mode (Bật/tắt log chi tiết cho development)
NEXT_PUBLIC_DEBUG=true

# Login page
NEXT_PUBLIC_LOGIN_PAGE=/login